<body [@fadeIn]> 
   <div id="title"><h1 class="text-center">Create Gourp</h1></div><br>
   <div class="text-center"><button type="button" class="btn btn-primary col-lg-2 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Save</button>
    <button type="button" class="btn btn-warning col-lg-2 mx-2"  data-bs-toggle="modal" data-bs-target="#exampleModalPart">Partidos</button> 
    <button type="button" class="btn btn-success col-lg-2 mx-2" > List Partidos</button> 
    <button type="button" class="btn btn-info col-lg-2 mx-2" routerLink="/listEquipo" > Groups Created</button> 
    </div>
   <hr>


    <div class="card" style="width: 18rem;" *ngFor=" let grupo of grupos">
        <img src="../../../assets/img/group.png" class="card-img-top" alt="" data-bs-toggle="modal" data-bs-target="#exampleModalList">
        <div class="card-body text-center">
          <h5 class="card-title">Datos Group</h5>
          <hr>
          <p class="card-text">{{grupo.name}}</p>
          <p class="card-text">{{grupo.Directors}}</p>
          <button type="button" class="btn btn-success  mx-4"  data-bs-toggle="modal" data-bs-target="#exampleModalUpdate">
            Update
          </button>
          <button type="button" class="btn btn-danger  mx-4" data-bs-toggle="modal" data-bs-target="#exampleModalDelete">
            Delete
          </button>
        </div>
      </div>


<!-- Modal Save-->

<div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="form-signin" (ngSubmit)="onSubmit(saveGroup)" #saveGroup="ngForm" >
                <img  class="mb-4" width="75" height="75" src="../../../assets/img/united.png" alt="register">
                <h1 class="h3 mb-3 font-weight-normal">Create Group</h1>
                <div class="form-group">
                  <label for="selectTorneo" class="form-label">Torneos</label>
                  <select [(ngModel)]="torneoid" name="torneo" id="selectTorneo"class="form-control form-select">
                    <option *ngFor="let torneo of Torneos" [value]="torneo._id" >{{torneo.name}}</option>
                  </select>
                </div>
            <div class="form-group">
                <label for="inputNames" class="form-label">Name</label>
                <input  [(ngModel)]="grupo.name" class="form-control" type="text" id="inputNames" name="name" placeholder="Name" required >
            </div>
            <div class="form-group">
                <label for="inputDirectors" class="form-label">Director Tecnico</label>
                <input [(ngModel)]="grupo.Directors"  class="form-control" type="text" id="inputDirectors" name="Directors" placeholder="Director Tecnico" required>
            </div>
            <br>
            <button type="button" class="btn btn-secondary mx-4 "  data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary mx-4 " data-bs-dismiss="modal" [disabled]="!saveGroup.form.valid">To Create</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Update-->

<div class="modal fade text-center" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">UPDATE DATA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="form-signin">
                <img  class="mb-4" width="75" height="75" src="../../../assets/img/united.png" alt="register">
                <h1 class="h3 mb-3 font-weight-normal">Create Group</h1>
            <div class="form-group">
                <label for="Name" class="form-label">Name</label>
                <input class="form-control" type="text" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="inputDirector" class="form-label">Director Tecnico</label>
                <input class="form-control" type="text" id="inputDirector" placeholder="Name Director">
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>

<!--Modal delete-->

<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE DATA</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <img class="mb-4" width="75" height="75" src="../../../assets/img/borrar.png" alt="Delete">
            <h1 class="h3 mb-3 font-weight-normal">This action is irreversible!</h1>
              <form >
                  <label for="inputName"></label>
                  <input class="form-control" type="password" id="inputName" placeholder="Password"> 
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>


 <!--Modal List team --> 

 <div class="modal fade" id="exampleModalList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl text-center">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">List Team</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card" style="width: 18rem;">
                <img width="100" height="100"  src="../../../assets/img/united.png" class="ounded mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Data Team</h5>
                    <hr>
                    <p class="card-text">Name</p>
                    <p class="card-text">nintegrantes</p>
                </div>
              </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Partidos-->
<div class="modal fade" id="exampleModalPart" tabindex="-1" aria-labelledby="exampleModalLabelPart" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="text-center">
          <img class="text-center" src="../../../assets/img/Partidos.png" width="80" height="80" alt="">
          <h3 class="text-center">Set Partidos</h3>
          <label for="" class="form-label">Jornadas</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
          </select>
          <label for="" class="form-label"> Name</label>
          <input class="form-control" type="text" name="" id="">
          <div class="row">
            <div class="form-group  col-md-6">
              <label for="" class="form-label" >Team 1</label>
              <input class="form-control" type="text" name="" id="">
            </div>
            <div class="form-group  col-md-6">
              <label for="" class="form-label">Team 2</label>
              <input class="form-control" type="text" name="" id="">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</body>