<body>
    
    <div id="title">
        <h1 class="text-center">Bienvenido al Home Admin</h1>
    </div>
<br>
    <div id="action" class="text-center">
        <button type="button" class="btn btn-lg  btn-primary col-lg-2 mx-2" routerLink="/saveAdmin" >Save Admin</button>
        <button type="button" class="btn btn-lg  btn-success col-lg-2 mx-2" routerLink="/listuser">List Users</button>
        <button type="button" class="btn btn-lg  btn-info col-lg-2 mx-2"  routerLink="/perfil">Perfil</button>
    </div>
    <hr > 
 <img src="../../../assets/img/admin-home1 (2).png" width="1000" height="500" class="rounded mx-auto d-block" alt="...">

</body>