 <div id="cards">
    <div>
      <h1 class="text-center" >Grupos Creados</h1>
    </div>
    <hr>
    <form  class="form-inline mx-auto d-flex ">
        <input type="search" class="form-control me-2" name="search" placeholder="🔍  Search">
        <button class="btn btn-outline-success mx-2" type="submit" routerLink="/home-admin">Home</button>
    </form>
    <hr>
    <div class="card myWidth text-center" style="width: 17rem;" *ngFor="let ligas of Grupos" >
        <img width="200" height="200" src="../../../assets/img/united.png" class="rounded mx-auto d-block" alt="..." id="img">
      <div class="card-body">
        <h5 class="card-title">Datos</h5>
        <hr>
        <p class="card-text">{{ligas.name}}</p>
        <p class="card-text">{{ligas.Directors}}</p>    
        <button type="button" class="btn btn-success mx-4" >
            Save Team
        </button>
      </div>
    </div>
  </div>
