<body class="text-center" [@fadeIn]>
    <form  class="form-signin" action="">
        <img  class="mb-4" width="75" height="75" src="../../../assets/img/login user.png" alt="Login">
        <h1 class="h3 mb-3 font-weight-normal">Plase Sign up</h1>

            <label for="inputUsername" class="form-label">Username</label>
            <input  class="form-control" id="inputUsername" type="text" placeholder="Enter your User" required>

            <label for="inputPassword" class="form-label">Password</label>
            <input class="form-control" id="inputPassword" type="text" placeholder="Enter your Password" required>

            <div class="mb-3 check">
                <label class="form-check-label" for="exampleCheck1">
                    <input type="checkbox" value="remenber-me" class="form-check-input" id="exampleCheck1">Remenber Me
                </label>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
             
    </form>
</body>
