
  <div id="cards">
    <div>
      <h1 class="text-center" >Torneos Creados</h1>
    </div>
    <hr>
    <form  class="form-inline mx-auto d-flex ">
        <input type="search" class="form-control me-2" name="search" placeholder="🔍  Search">
        <button class="btn btn-outline-success mx-2" type="submit">Home</button>
        <button class="btn btn-outline-danger mx-2" type="submit">Back</button>
    </form>
    <hr>
    <div class="card myWidth text-center" style="width: 17rem;" >
        <img width="200" height="200" src="../../../assets/img/torneo (2).png" class="rounded mx-auto d-block" alt="..." id="img">
      <div class="card-body">
        <h5 class="card-title">Datos</h5>
        <hr>
        <p class="card-text">Name</p>
        <p class="card-text">Type</p>
        <p class="card-text">Awards</p>
        <button type="button" class="btn btn-success mx-4" >
            Save Group
          </button>
      </div>
    </div>
  </div>
