<body [@fadeIn]>
    <h1 class="text-center">
        Create Partidos
    </h1>
    <br>
    <div class="text-center">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalPart">
  Launch demo modal
</button>
    </div>
    <br>
    <table class="table" >
        <thead class="table-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Nombre del torneo</th>
            <th scope="col">Nombredel grupo</th>
            <th scope="col">Nombre del partido</th>
            <th scope="col">Team One</th>
            <th scope="col">Team Two</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody  *ngFor="let partido of partidos, let i = index " >
          <tr>
            <td>{{i}}</td>
            <td></td>
            <td></td>
            <td>{{partido.name}}</td>
            <td>{{partido.teamOne}}</td>
            <td>{{partido.teamTwo}}</td>
            <td></td>
            <td><button class="btn-danger">Finalizado</button></td>
          </tr>
        </tbody>
      </table>

<!-- Modal -->


<div class="modal fade" id="exampleModalPart" tabindex="-1" aria-labelledby="exampleModalLabelPart" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"  >
        <form class="text-center" (ngSubmit)="onSubmit(saveMatch)" #saveMatch="ngForm" >
          <img class="text-center" src="../../../assets/img/Partidos.png" width="80" height="80" alt="">
          <h3 class="text-center">Set Partidos</h3>
          <div class="form-group">
            <label for="selectGrupo" class="form-label">Grupo</label>
            <select [(ngModel)]="grupoid" name="grupo" id="selectGrupo" class="form-control form-select">
              <option *ngFor="let grupo of Grupos" [value]="grupo._id">{{grupo.name}}</option>
            </select>
          </div>
          <label for="selecJornada" class="form-label">Jornadas</label>
          <select [(ngModel)]="partido.jornada" class="form-select" aria-label="Default select example" id="selecJornada" name="jornada">
            <option *ngFor="let option of optionsJosnada" [value]="option" selected>{{option}}</option>
          </select>
          <label for="inputName" class="form-label"> Name</label>
          <input [(ngModel)]="partido.name" class="form-control" type="text" name="name" id="inputName" required>
          <div class="row">
            <div class="form-group  col-md-6">
              <label for="inputTeamOne" class="form-label" >Team One</label>
             <input [(ngModel)]="partido.teamOne" class="form-control" type="text" name="teamOne" id="inputTeamOne" required>
            </div>
            <div class="form-group  col-md-6">
              <label for="inputTeamTwo" class="form-label">Team Two</label>
              <input [(ngModel)]="partido.teamTwo" class="form-control" type="text" name="teamTwo" id="inputTeamTwo" required>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary mx-2 "  [disabled]="!saveMatch.form.valid" >Save Match</button>
        </form>
      </div>
    </div>
  </div>
</div>



</body>