<body class="text-center">
    <form class="form-signin">
        <img  class="mb-4" width="75" height="75" src="../../../assets/img/torneo.png" alt="register">
            <h1 class="h3 mb-3 font-weight-normal" >Create Torneo</h1>
            <div class="form-gruop">
                <label for="" class="form-label" >Name</label>
                <input class="form-control" type="text">
            </div>
            <label for="inputGroupSelect01">Type</label>
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Options</option>
                  <option value="1">Fútbol</option>
                  <option value="2">Baloncesto</option>
                  <option value="3">Video Game</option>
                  <option value="4">other</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Awards</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">To Create</button>
    </form>
</body>